@media only screen and (max-width: 768px) {
    .airport-info{
        justify-content: center;
    }
  .trip-time {
      .align-items-end {
          align-items: flex-end !important;
      }
  }
}
p,.fa-share-nodes{
    color: var(--grey);
    
}
.flight-details{
    margin-top: .1rem;
}
.more-options{
    background-color: var(--blue);
}