/* You can add global styles to this file, and also import other style files */

:root {
    /* ====== Colors ====== */
--grey:#787878;
--blue:#c7e0fc;
}

body{
    background-color: #f1f1f1 !important;
}
.cursor-pointer{
    cursor: pointer;
}
p{
    margin-bottom: 0px !important;
}